<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> </title>
  <link rel="stylesheet" href="public/css/reset.css"/>
</head>
<body>
  <h2><%= title %> </h2>
  <ul>
    <% for(var i = 0; i < list.length; i++){ %>
      <li><%= list[i] %>  </li>
    <% } %>
  </ul>
  <div>session: 用户名: <%= sessionUserinfo.username %> 密码: <%= sessionUserinfo.password %> </div>
</body>
</html>