<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录</title>
</head>
<body>
  <h1>登录</h1>
  <form action="/api/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrf %>"/>
    用户名: <input name="username"/><br>
    密 码: <input name="password"/><br>
    <button type="submit">登录</button>
  </form>
</body>
</html>