<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新闻</title>
  <link rel="stylesheet" href="/public/css/reset.css"/>
</head>
<body>
 <ul>
  <% for(var i = 0; i < data.length; i++){ %>
    <li>
      <a href="/newsDetail?aid=<%= data[i].aid %>">
        <%= data[i].title %>
      </a>
      <strong><%= helper.formatTime(data[i].dateline) %></strong>
      <!-- <%= data[i].aid %>
      <%= data[i].catid %>
      <%= data[i].username %>
      <%= data[i].title %>
      <%= data[i].pic %>
      <%= data[i].dateline %> -->
    </li>
  <% } %>
 </ul>
</body>
</html>