<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>详情</title>
</head>
<body>
  <h1>详情页面</h1>
  <div><%= data.title %></div>
  <div><%= data.summary %></div>
  <div><%= data.pic %></div>
  <div><%= data.content %></div>
</body>
</html>